<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta chartset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/base.js"></script>
    <!--<script src="/javascripts/jquery-1.11.1.js"></script>-->
  </head>
  <body>
    <div id="container" class="container">
        <ul id="waterfall"></ul>
    </div>
    <div class="loading" id="loading"><img src="/images/load.gif" alt=""></div>
    <script src="/javascripts/waterfall.js"></script>
    <!--<script src="/javascripts/waterfall_jQ.js"></script>-->
  </body>
</html>
